:root {
  --verde-oliva: #6b7b4f;
  --verde-oscuro: #3c4a2f;
  --beige: #f2e8d5;
  --dorado: #d4a95a;
  --gris-claro: #a9bbaa;
  --gris-medio: #8a9a87;
  --oscuro: #2e3b2c;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--beige);
  color: var(--verde-oscuro);
  transition: background-color 0.3s, color 0.4s ease;
}

.navbar {
  background-color: var(--gris-claro);
  transition: background-color 0.4s ease, color 0.4s ease;
}

.titulo-principal {
  font-size: 3.5rem;
  font-weight: 700;
}
.navbar-brand,
.nav-link {
  color: white !important ;
  font-weight: 700;
}
h1, h2, h5 {
  font-weight: 600;
}

.hero {
  background-color: var(--gris-claro);
  padding: 80px 0;
  text-align: center;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--verde-oscuro);
}

.hero p {
  font-size: 1.2rem;
  color: var(--gris-medio);
}

.card {
    background-color: var(--beige);
    border: none;
    overflow: hidden;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.img-container {
  overflow: hidden;
}

.card-img-top {
  transition: transform 0.4s ease;
}

.card:hover  {
  transform: scale(1.05);
}
.card-title{
    text-align: center;
}
.hover-title {
  transition: color 0.3s ease;
}

.hover-title:hover {
  color: var(--verde-oscuro);
}

footer {
  background-color: var(--gris-claro);
  padding: 20px 0;
  text-align: center;
  font-size: 0.9rem;
  color: var(--verde-oscuro);
  transition: background-color 0.4s ease, color 0.4s ease;
}

.dark-mode {
  background-color: var(--oscuro) !important;
  color: white !important;
}

.dark-mode .navbar,
.dark-mode .hero,
.dark-mode footer {
  background-color: var(--oscuro) !important;
  color: white !important;
}

.dark-mode .card {
  background-color: #2e3b2c;
  color: var(--beige);
  border: none;
}

.dark-mode .hover-title:hover {
  color: var(--beige);
}

.toggle-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}
.social-icons i {
  font-size: 2.2rem; /* Aumentado desde 1.5rem */
  color: var(--verde-oscuro);
  transition: color 0.3s ease;
}

.icon-link:hover i {
  color: var(--dorado);
}

.dark-mode .social-icons i {
  color: var(--beige);
}

.dark-mode .icon-link:hover i {
  color: var(--dorado);
}
