:root {
  --verde-oliva: #6b7b4f;
  --verde-oscuro: #3c4a2f;
  --beige: #f2e8d5;
  --dorado: #d4a95a;
  --gris-claro: #a9bbaa;
  --gris-medio: #8a9a87;
  --oscuro: #2e3b2c;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--beige);
  color: var(--verde-oscuro);
  transition: background-color 0.3s, color 0.4s ease;
}

.navbar {
  background-color: var(--gris-claro);
  transition: background-color 0.4s ease, color 0.4s ease;
}

.titulo-principal {
  font-size: 3.5rem;
  font-weight: 700;
}
.navbar-brand,
.nav-link {
  color: white !important ;
  font-weight: 700;
}
h1, h2, h5 {
  font-weight: 600;
}

.hero {
  background-color: var(--gris-claro);
  padding: 80px 0;
  text-align: center;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--verde-oscuro);
}

.hero p {
  font-size: 1.2rem;
  color: var(--gris-medio);
}

.card {
    background-color: var(--beige);
    border: none;
    overflow: hidden;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.img-container {
  overflow: hidden;
}

.card-img-top {
  transition: transform 0.4s ease;
}

.card:hover  {
  transform: scale(1.05);
}
.card-title{
    text-align: center;
}
.hover-title {
  transition: color 0.3s ease;
}

.hover-title:hover {
  color: var(--verde-oscuro);
}

footer {
  background-color: var(--gris-claro);
  padding: 20px 0;
  text-align: center;
  font-size: 0.9rem;
  color: var(--verde-oscuro);
  transition: background-color 0.4s ease, color 0.4s ease;
}

.dark-mode {
  background-color: var(--oscuro) !important;
  color: white !important;
}

.dark-mode .navbar,
.dark-mode .hero,
.dark-mode footer {
  background-color: var(--oscuro) !important;
  color: white !important;
}

.dark-mode .card {
  background-color: #2e3b2c;
  color: var(--beige);
  border: none;
}

.dark-mode .hover-title:hover {
  color: var(--beige);
}

.toggle-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}
.social-icons i {
  font-size: 2.2rem; 
  color: var(--verde-oscuro);
  transition: color 0.3s ease;
}

.icon-link:hover i {
  color: var(--dorado);
}

.dark-mode .social-icons i {
  color: var(--beige);
}

.dark-mode .icon-link:hover i {
  color: var(--dorado);
}

/*Página Sobre mí*/
.perfil-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 6px solid #d4a95a;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.perfil-img:hover {
  transform: scale(1.03);
}
/*Página Experiencia*/
.exp-img {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 15px;
  border: 5px solid #d4a95a;
  object-fit: cover;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.exp-img:hover {
  transform: scale(1.03);
}
/*Página Skills */
.skill-card {
  background-color: var(--beige);
  border: 2px solid #d4a95a;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: scale(1.05);
}

.skill-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}
.dark-mode .skill-card {
  border: 2px solid #d4a95a;
  background-color: #2e3b2c;
  color: var(--beige);
}
/*Página Cursos*/
.curso-card {
  background-color: var(--beige);
  border: 2px solid #d4a95a;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.curso-card:hover {
  transform: scale(1.02);
}

.curso-img img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
  border: 3px solid #d4a95a;
}
.dark-mode .curso-card {
  border: 2px solid #d4a95a;
  background-color: var(--oscuro);
  color: var(--beige);
}
.btn-certificado {
  border: 2px solid #d4a95a;
  color: var(--verde-oscuro);
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-certificado:hover {
  background-color: #d4a95a;
  color: white;
}

.dark-mode .btn-certificado {
  border: 2px solid white;
  color: var(--beige);
}

.dark-mode .btn-certificado:hover {
  background-color: white;
  color: var(--oscuro);
}
/*Página Blog*/
.btn-blog {
  background-color: transparent;
  border: 2px solid #d4a95a;
  color: var(--verde-oscuro);
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-blog:hover {
  background-color: #d4a95a;
  color: white;
}

.dark-mode .btn-blog {
  color: var(--beige);
  border-color: #d4a95a;
}

.dark-mode .btn-blog:hover {
  background-color: #d4a95a;
  color: var(--oscuro);
}
.modal-body, .modal-header {
  color: var(--verde-oscuro);
  background-color: var(--beige);
}
.dark-mode .modal-body, .dark-mode .modal-header {
  color: var(--beige);
  background-color: var(--oscuro);
}

